@model ICollection<CustomModel>
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<form asp-action="Index" asp-controller="Home" method="POST">
    <table>
        @foreach (var m in Model)
        {
            <tr>
                <td><label asp-for="@Model">@m.Question</label><input asp-for="@m.Answer"/></td>
            </tr>
        }
    </table>
    <input type="submit" value="save" />
</form>
